body{
   
    background-color: rgb(89, 9, 9);
}
header{
    background-color: rgb(89, 9, 9);
    border-bottom: 5px solid rgb(248, 86, 86);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 5%;
    width: 100%;
    z-index: 2;
   
}
.head{
    font-weight: 800;
    font-size: 2rem;
    font-family: Cambria;
    color: white;
    margin-right: 5%;
    width: 30%;
    height: 40%;
}
.sub-head{
    font-size: 1.2rem;
    margin-top: 3%;
    margin-left: 5%;
    width: 30%;
    height: 40%;
    word-spacing: 10px;
    
}
.sect-sect{
    width: 100%;
    height: 50%;
    background-image: url('image/img1.jpg');
    opacity: 85%;
    margin-top: 5%;
}
h1{
    font-size: 3rem;
    font-weight: 800;
    font-family: Tahoma;
    color:white;
    text-align: center;
}
.scroll{
   font-family: arial;
   color:white;
   text-align: center;
   text-decoration: italic;
}
.image{
    width: 100%;
    height: 90%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
    position: absolute;

    
}
.sub-image{
    width: 40%;
    height: 70%;
    position: relative;
}
.sub-image2{
    width: 40%;
    height: 70%;
    position: relative;
}
.sub-sectimage{
    width: 100%;
    height: 60%;
   background-image: url('image/img3.jpg');
}
.sub-sectimage2{
    width: 100%;
    height: 60%;
    background-image: url('image/img4.jpg');
}
.sub-sectimage3{
    width: 100%;
    height: 60%;
    background-image: url('image/img5.jpg');
}
.sub-sectimage4{
    width: 100%;
    height: 60%;
    background-image: url('image/img2.jpg');
}
footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative;
    margin-top: 45%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:rgb(248, 86, 86) ;
}
a:hover{
    color:white;
}